<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>
</head>

<body class="container-fluid"
  style="height: 100vh; background-image: url('https://source.unsplash.com/random/1800x1200/?mountains');background-size: cover;background-repeat:no-repeat">


  <%- include('./partials/nav'); %>


  <!-- Container background and booking form -->
  <div class="container-fluid pe-0" style="height: 100vh;">

    <!-- Form -->
    <form class="ms-auto mt-10 mb-10 rounded border border-1 border-light bg-light"
      style="max-width: 420px; padding: 30px 30px 60px 30px; color: #484848;" method="POST" action="/apartment/search-results">
      <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;">Book unique apartments.</h1>
      <div class="form-group" style=" font-size: small;">
        <label>WHERE</label><br>
        <div class="input-group mb-3">
          <span class="input-group-text bg-white" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg></span>
          <input id="searchCity" type="text" class="form-control" placeholder="Choose a city" required>
          <input type="text" class="d-none" name="city" id="city">
          <input type="text" class="d-none" name="state" id="state">
          <div id="suggestions_container" class="position-absolute top-100  ">
            <ul id="suggestions">
            </ul>
          </div>   

        </div>

        <div class="input-group-prepend" style=" font-size: small;">
          <label>CHECK IN</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
          <label>CHECK OUT</label><br>
        </div>
        <div class="input-group" style=" font-size: small;">
          <input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkin" />
          <input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkout" />
        </div>
        <br>
        <div class="form-group" style=" font-size: small;">
          <label>GUESTS</label><br>
          <input type="number" class="form-control" name="guests">
          <br>




        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" style="float: right;">Search</button>
        </div>
      </div>
    </form>

  </div>


  <!-- Container apartments list -->
  <div class="row justify-content-center">

    <!-- Each apartment card -->

    <% apartments.forEach(function(d) { %>

    <div class="card m-4 p-0 rounded-2 col-lg-3 col-md-5 col-sm-10 shadow">

      <div class="bg-image card-img-top rounded-2"
        style="background-image: url('<%= d.photo1.url %>');height: 30vh;background-size: cover;">
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= d.title %></h5>
        <p class="card-text"><%= d.location.city %>, <%= d.location.state %></p>
        <div>
          <p>
            <%= d.capacity %> <img src="/imgs/bed.svg" alt="" style="width: 25px; margin-right: 12px;">
            <%= d.rooms %> <img src="/imgs/rooms.svg" alt="" style="width: 25px; margin-right: 8px;">
            <%= d.bathrooms %> <img src="/imgs/bathroom.svg" alt="" style="width: 25px; margin-right: 10px;">
            <%= d.meters %> m<sup>2</sup></p>
        </div>
        <p class="card-text">
          <img src="/imgs/calendar.svg" alt="" style="width: 22px; margin-right: 10px;">
          <%= (d.availablefrom).toLocaleString('es-ES',{dateStyle:"short"}) %> -
          <%= (d.availableto).toLocaleString('es-ES',{dateStyle:"short"}) %></p>
        <small class="text-muted"><strong><%= d.price %> €</strong> night</small>
        <a href="/apartment/<%= d._id %>" class=" stretched-link"></a>
      </div>
    </div>
    <% }); %>
  </div>









  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="/js/search-apartment-cities.js"></script>

</body>

</html>