<!DOCTYPE html>
<html lang="en">
<style>
    #photoContainer img:nth-child(1) {
        border: 5px solid var(--bs-primary);
    }
</style>


<%- include('./partials/head'); %>

<!-- higlight main photo -->

</head>

<body class="container-fluid">
    <%- include('./partials/nav'); %>



    <!-- load library "sortable" to drag images -->
    <script src="http://SortableJS.github.io/Sortable/Sortable.js">

    </script>



    <div class="container mt-5">

        <% if (apartment._id) { %>
        <h1>Edit Apartament</h1>
        <% } else { %>
        <h1>Add Apartament</h1>
        <% } %>

        <div class="row">
            <form method="post" action="
            <% if (apartment._id) { %> 
                 
            <% } else { %>
                /apartment/new-apartment
            <% } %>">

                <!-- about the apartment -->
                <div class="modal-header my-4">
                    <h5 class="modal-title mt-2">About the apartment</h5>

                </div>
                <div class="form-group">
                    <label for="title">Tittle</label>

                    <input type="text" id="title" name="title" class="form-control" placeholder="My unique home"
                        value="<%= apartment.title %>" maxlength="150" aria-describedby="titleHelp" required>
                    <small id="titleHelp" class="form-text text-muted">How would you describe your place in a very few
                        words</small>
                </div>

                <div class="form-group mt-3">
                    <label for="description">
                        Description</label>
                    <textarea id="description" class="form-control" name="description" rows="10" cols="50"
                        maxlength="500" aria-describedby="descriptionHelp"
                        required><%= apartment.description %></textarea>
                    <small id="descriptionHelp" class="form-text text-muted">Tell your guests how's your place in less
                        than 500 characters</small>
                </div>

                <div class="form-group row g-3 mt-1">
                    <div class="col-md-2">
                        <label for="price">Price / night (€)
                        </label>
                        <input type="number" id="price" class="form-control" name="price" value="<%= apartment.price %>"
                            required>
                    </div>
                    <div class="col-md-3">
                        <label for="availablefrom">Available from</label>
                        <input type="date" id="availablefrom" class="form-control" name="availablefrom"
                            <% if (apartment.availablefrom) { %>
                            value="<%= apartment.availablefrom.toLocaleDateString('en-CA') %>" <% } %> required>
                    </div>
                    <div class="col-md-3">
                        <label for="availablefrom">Available to</label>
                        <input type="date" id="availableto" class="form-control" name="availableto"
                            <% if (apartment.availableto) { %>
                            value="<%= apartment.availablefrom.toLocaleDateString('en-CA') %>" <% } %> required>
                    </div>
                    <div class="col-md-1">
                        <label for="capacity">Capacity</label>
                        <input type="number" id="capacity" class="form-control" name="capacity"
                            value="<%= apartment.capacity%>" required>
                    </div>
                    <div class="col-md-1">
                        <label for="rooms">Rooms</label>
                        <input type="number" id="rooms" class="form-control" name="rooms" value="<%= apartment.rooms%>"
                            required>
                    </div>
                    <div class="col-md-1">
                        <label for="bathrooms">Bathrooms</label>
                        <input type="number" id="bathrooms" class="form-control" name="bathrooms"
                            value="<%= apartment.bathrooms%>" required>
                    </div>
                    <div class="col-md-1">
                        <label for="meters">Sup(m<sup>2</sup>) </label>
                        <input type="number" id="meters" class="form-control" name="meters"
                            value="<%= apartment.meters%>" required>
                    </div>


                </div>
                <!-- END about the apartment -->

                <!-- photos -->
                <div class="modal-header my-4">
                    <h5 class="modal-title mt-3">Photos</h5>
                </div>

                <div class=" <%if(apartment._id){%> d-none <%}%>">
                    <small id="photoHelp" class="form-text text-muted">Add up to 4 pictures, you can drag them later to
                        select a cover photo</small>
                </div>
                    <div class="form-group row g-3">
                        <div class=" <%if(apartment._id){%> d-none <%}%>">

                            <div class="col-md-5">
                                <input type="text" id="photo" placeholder="url photo" class="form-control">
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="photo_desc" placeholder="photo description" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-primary" id="photoOk">ok</a>
                            </div>
                        </div>
                        
                


                    <div id="photoContainer" class="border-3 border-primary">
                        <% if(apartment.photo1) { %>
                        <img height=" 150" class="rounded-3 me-2" src="<%= apartment.photo1.url %>" alt=""
                    data-id="<%= apartment.photo1.url %>||<%= apartment.photo1.description %>">
                    <% } %>

                    <% if(apartment.photo2) { %>
                    <img height="150" class="rounded-3 me-2" src="<%= apartment.photo2.url %>" alt=""
                        data-id="<%= apartment.photo2.url %>||<%= apartment.photo2.description %>">
                    <% } %>
                    <% if(apartment.photo3) { %>
                    <img height="150" class="rounded-3 me-2" src="<%= apartment.photo3.url %>" alt=""
                        data-id="<%= apartment.photo3.url %>||<%= apartment.photo3.description %>">
                    <% } %>
                    <% if(apartment.photo4) { %>
                    <img height="150" class="rounded-3 me-2" src="<%= apartment.photo4.url %>" alt=""
                        data-id="<%= apartment.photo4.url %>||<%= apartment.photo4.description %>">
                    <% } %>

                </div>

                <div id="photodata" class=" <%if(!apartment._id){%> d-none <%}%>">
                        <!-- photo 1 -->
                        <label for="photourl1" class="mt-3">URL Photo 1</label>
                        <input class=" col-9 form-control" id="inputPhoto1" type="text" 
                        
                        <% if(apartment.photo1) { %>
                            value=" <%= apartment.photo1.url %>" <% } %> placeholder="url photo 1" name="photourl1">
                    <label for="photodescr1">Description Photo 1</label>
                    <input class=" col-6 form-control" id="inputPhotoDesc1" type="text" <% if(apartment.photo1) { %>
                        value="<%= apartment.photo1.description %>" <% } %> placeholder="description photo 1"
                        name="photodescr1">

                    <!-- photo 2 -->
                    <label for="photourl2" class="mt-3">URL Photo 2</label>
                    <input class=" col-9 form-control" id="inputPhoto2" type="text" <% if(apartment.photo2) { %>
                        value="<%= apartment.photo2.url %>" <% } %> placeholder="url photo 2" placeholder="url photo 2"
                        name="photourl2">
                    <label for="photodescr2">Description Photo 2</label>
                    <input class=" col-6 form-control" id="inputPhotoDesc2" type="text" <% if(apartment.photo2) { %>
                        value="<%= apartment.photo2.description %>" <% } %> placeholder="description photo 2"
                        name="photodescr2">

                    <!-- photo 3 -->
                    <label for="photourl3" class="mt-3">URL Photo 3</label>
                    <input class=" col-9 form-control" id="inputPhoto3" type="text" <% if(apartment.photo3) { %>
                        value="<%= apartment.photo3.url %>" <% } %> placeholder="url photo 3" placeholder="url photo 3"
                        name="photourl3">
                    <label for="photodescr3">Description Photo 3</label>
                    <input class=" col-6 form-control" id="inputPhotoDesc3" type="text" <% if(apartment.photo3) { %>
                        value="<%= apartment.photo3.description %>" <% } %> placeholder="description photo 3"
                        name="photodescr3">

                    <!-- photo 4 -->
                    <label for="photourl4" class="mt-3">URL Photo 4</label>
                    <input class=" col-9 form-control" id="inputPhoto4" type="text" <% if(apartment.photo4) { %>
                        value="<%= apartment.photo4.url %>" <% } %> placeholder="url photo 4" placeholder="url photo 4"
                        name="photourl4">
                    <label for="photodescr4">Description Photo 4</label>
                    <input class=" col-6 form-control" id="inputPhotoDesc4" type="text" <% if(apartment.photo4) { %>
                        value="<%= apartment.photo4.description %>" <% } %> placeholder="description photo 4"
                        name="photodescr4">

                </div>









        </div>

        <!-- END photos -->
        <!-- location -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">Location</h5>
        </div>
        <div class="form-group row g-3">
            <div class="col-md-5">
                <label for="city">City
                    <input type="text" id="city" name="city" class="form-control" required>
                </label>
            </div>
            <div class="col-md-3">
                <label for="state">State
                    <input type="text" id="state" name="state" class="form-control" required>
                </label>
            </div>
            <div class="col-md-2">
                <label for="lat">Latitude
                    <input type="text" id="lat" name="lat" class="form-control" required>
                </label>
            </div>
            <div class="col-md-2">
                <label for="long">Longitude
                    <input type="text" id="long" name="long" class="form-control" required>
                </label>
            </div>
        </div>

        <!-- END location -->
        <!-- rules -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">Rules</h5>
        </div>
        <div class="form-group row g-3">
            <div class="col-md-8">
                <label for="rules">Description
                    <textarea id="rules" name="rules" class="form-control" required></textarea>
                    <small id="rulesHelp" class="form-text text-muted">Please tell your guests the general rules
                        of your home</small>
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="smoking" name="smoking">
                <label class="form-check-label" for="smoking">
                    Smoking
                </label>
            </div>
            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="pets" name="pets" checked>
                <label class="form-check-label" for="pets">
                    Pets
                </label>
            </div>
        </div>

        <!-- END rules -->
        <!-- amenities -->

        <div class="modal-header my-4 justify-content-center">
            <h5 class="modal-title mt-3">Amenities</h5>
        </div>
        <!-- general -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">General</h5>
        </div>
        <div class="form-group row g-3">
            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="wifi" name="wifi">
                <label class="form-check-label" for="wifi">
                    Wifi
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="tv" name="tv">
                <label class="form-check-label" for="tv">
                    TV
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="ac" name="ac">
                <label class="form-check-label" for="ac">
                    AC
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="heating" name="heating">
                <label class="form-check-label" for="heating">
                    Heating
                </label>
            </div>


            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="parking" name="parking">
                <label class="form-check-label" for="parking">
                    Parking
                </label>
            </div>


            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="adapted" name="adapted">
                <label class="form-check-label" for="adapted">
                    Adapted
                </label>
            </div>




        </div>

        <!-- bathroom -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">Bathroom</h5>
        </div>
        <div class="form-group row g-3">
            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="hairdryer" name="hairdryer">
                <label class="form-check-label" for="hairdryer">
                    Hairdryer
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="shampoo" name="shampoo">
                <label class="form-check-label" for="shampoo">
                    Shampoo
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="soap" name="soap">
                <label class="form-check-label" for="soap">
                    Soap
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="hotwater" name="hotwater">
                <label class="form-check-label" for="hotwater">
                    Hotwater
                </label>
            </div>






        </div>

        <!-- bedroom -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">Bedroom</h5>
        </div>
        <div class="form-group row g-3">
            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="essentials" name="essentials">
                <label class="form-check-label" for="essentials">
                    Essentials
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="hangers" name="hangers">
                <label class="form-check-label" for="hangers">
                    Hangers
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="bedlinen" name="bedlinen">
                <label class="form-check-label" for="bedlinen">
                    Bedlinen
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="wardrobe" name="wardrobe">
                <label class="form-check-label" for="wardrobe">
                    Wardrobe
                </label>
            </div>

        </div>

        <!-- kitchen -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">Kitchen</h5>
        </div>
        <div class="form-group row g-3">
            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="stove" name="stove">
                <label class="form-check-label" for="stove">
                    Stove
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="fridge" name="fridge">
                <label class="form-check-label" for="fridge">
                    Fridge
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="microwave" name="microwave">
                <label class="form-check-label" for="microwave">
                    Microwave
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="tableware" name="tableware">
                <label class="form-check-label" for="tableware">
                    Tableware
                </label>
            </div>


            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="coffeemaker" name="coffeemaker">
                <label class="form-check-label" for="coffeemaker">
                    Coffee Maker
                </label>
            </div>


            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="toaster" name="toaster">
                <label class="form-check-label" for="toaster">
                    Toaster
                </label>
            </div>

        </div>


        <!-- Outdoor -->
        <div class="modal-header my-4">
            <h5 class="modal-title mt-3">Outdoor</h5>
        </div>
        <div class="form-group row g-3">
            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="balcony" name="balcony">
                <label class="form-check-label" for="balcony">
                    Balcony
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="garden" name="garden">
                <label class="form-check-label" for="garden">
                    Garden
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="pool" name="pool">
                <label class="form-check-label" for="pool">
                    Swimming-pool
                </label>
            </div>

            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="barbicue" name="barbicue">
                <label class="form-check-label" for="barbicue">
                    Barbicue
                </label>
            </div>


            <div class="form-check col-md-2">
                <input class="form-check-input" type="checkbox" value="true" id="digningarea" name="digningarea">
                <label class="form-check-label" for="digningarea">
                    Digning Area
                </label>
            </div>



        </div>










        <!-- Button -->
        <button type="submit" class="btn btn-primary my-4">Submit</button>
        </form>
    </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>






    <script>
        let totalPhotos = 0;
        let button = document.querySelector("#photoOk");
        button.addEventListener("click", () => {
            totalPhotos++;
            if (totalPhotos == 4) {
                button.classList.add("disabled");
            }
            let container = document.querySelector("#photoContainer");
            let image = document.createElement("img");
            image.height = "150";
            image.classList.add("rounded-3");
            image.classList.add("me-2");
            let photo = document.querySelector("#photo").value;
            let description = document.querySelector("#photo_desc").value;
            //let image = document.querySelector(`#photo${totalPhotos}`)
            image.src = photo;
            image.setAttribute("data-id", `${photo}||${description}`);
            //image.classList.remove("d-none");

            let formInputPhoto = document.querySelector(`#inputPhoto${totalPhotos}`);
            formInputPhoto.value = photo;
            let formInputDescription = document.querySelector(`#inputPhotoDesc${totalPhotos}`);
            formInputDescription.value = description;

            document.querySelector("#photo").value = "";
            document.querySelector("#photo_desc").value = "";


            container.appendChild(image);

        })


        Sortable.create(photoContainer, {
            animation: 500,
            store: {
                set: function (sortable) {
                    let order = sortable.toArray();
                    order.forEach((element, i) => {
                        let formPhotoInput = document.querySelector(`#inputPhoto${i+1}`);
                        let formPhotoDescr = document.querySelector(`#inputPhotoDesc${i+1}`);
                        let photoInfo = element.split("||");;
                        console.log(photoInfo);
                        formPhotoInput.value = photoInfo[0];
                        formPhotoDescr.value = photoInfo[1];
                    });
                    //console.log(typeof order, order);
                }
                /* options */
            }
        }); //sortableJS
    </script>





</body>

</html>