<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function () {
    $('#myApartments').DataTable();
  });
</script>



</head>

<body class="container-fluid">
  <%- include('./partials/nav'); %>

  <div class="row flex-nowrap">
    <%- include('./partials/dashboard-nav'); %>


    <main class="col py-3">

      <section class="container">
        <h1>Dashboard</h1>
        <p>Welcome <%=user.username%>!</p>

        <% if (user.isAdmin){ %>
        <p>Role: Admin</p>
        <% } %>
        <% if (user.isHost){ %>
        <p>Role: Host</p>
        <% } %>
        <% if (!user.isHost && !user.isAdmin){ %>
        <p>Role: User</p>
        <% } %>



      </section>
      <% if (user.isAdmin){ %>
      <!--Section: Statistics apartments and bookings-->
      <section class="container mt-5">
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">

                    <div>
                      <h4>Total Apartments</h4>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h2 class="h1 mb-0"><%= totalApartments %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">

                    <div>
                      <h4>Total Bookings</h4>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h2 class="h1 mb-0"><%= totalBookings %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Section: Statistics apartments by provinc-->
      <section class="container">

        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info"><%= totalApartmentsBarcelona %></h3>
                    <p class="mb-0">Barcelona</p>
                  </div>

                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">

                    <% var porcentajeBarcelona = (totalApartmentsBarcelona * 100) / totalApartments %>

                    <div class="progress-bar bg-info" role="progressbar" style="width: <%= porcentajeBarcelona %>%">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning"><%= totalApartmentsGirona %></h3>
                    <p class="mb-0">Girona</p>
                  </div>

                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <% var porcentajeGirona = (totalApartmentsGirona * 100) / totalApartments %>

                    <div class="progress-bar bg-warning" role="progressbar" style="width: <%= porcentajeBarcelona %>%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success"><%= totalApartmentsLleida %></h3>
                    <p class="mb-0">Lleida</p>
                  </div>

                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <% var porcentajeLleida = (totalApartmentsLleida * 100) / totalApartments %>

                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= porcentajeLleida %>%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-danger"><%= totalApartmentsTarragona %></h3>
                    <p class="mb-0">Tarragona</p>
                  </div>

                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <% var porcentajeTarragona = (totalApartmentsTarragona * 100) / totalApartments %>

                    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= porcentajeTarragona %>%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <% } %>







    </main>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


</body>



</html>