<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function () {
    $('#myApartments').DataTable();
});
</script>



</head>

<body class="container-fluid">
  <%- include('./partials/nav'); %>

  <div class="row flex-nowrap">
    <%- include('./partials/dashboard-nav'); %>


    <main class="col py-3">
    
      <section class="container">
        <h1>Profile</h1>
        <p>-Este es el dashboard del usuario, aquí tendrá la posibilidad de actualizar sus datos y todo lo referente a la
          gestión de los pisos que haya resrvado.</p>
          <p>id: <%= user.id %></p>
        <p> username: <%=user.username%> </p>
        <p> Name: <%=user.name%> </p>
        <p> Last Name: <%=user.lastname%> </p>
        <p> Email: <%=user.email%> </p>
         <% if (user.isAdmin){ %>
          <p>Admin</p>
        <% } %>
        <% if (user.isHost){ %>
          <p>Host</p>
        <% } %>
    
    
      </section>
  
    </main>
  </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


</body>



</html>