<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function () {
    $('#myApartments').DataTable();
  });
</script>



</head>

<body class="container-fluid">
  <%- include('./partials/nav'); %>

  <div class="row flex-nowrap">
    <%- include('./partials/dashboard-nav'); %>


    <main class="col py-3">

      <section class="container">
        <h1>Messages</h1>
        <div class="container">
          <div class="row clearfix float-end">
            <div class="col-lg-12">
              <div class="card chat-app">
                <div id="plist" class="people-list">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <p>Conversations</p>
                    </div>
                  </div>
                  <ul id="conversationList" class="list-unstyled chat-list mt-2 mb-0">
                    <% conversations.forEach(function(conversation){ %>

                    <li class="clearfix" data-apartment=<%= conversation.apartment%> data-user=<%= conversation.id%>>

                      <div class="about">
                        <i class="bi bi-person-circle"></i><span
                          class="ms-2 small"><%= conversation.username.substring(0,20)+'...'%></span>
                      </div>
                    </li>

                    <% }); %>

                  </ul>
                </div>
                <div class="chat">
                  <div class="chat-header clearfix">
                    <div class="row">
                      <div class="col-lg-9">

                        <div class="chat-about">
                          <h6 class="m-b-0"><i class="bi bi-person-circle"></i><span
                              class="ms-2"><%=user.fullName%></span></h6>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="chat">

                  </div>
                  <div class="chat-history">
                    <ul class="m-b-0">


                    </ul>
                  </div>
                  <div class="chat-message clearfix mt-8">
                    <div class="input-group mb-0">
                      <div class="input-group-prepend">
                        <span id="sendAnswerMessage" class="input-group-text btn btn-primary"><i
                            class="bi bi-send-fill"></i></span>
                      </div>
                      <input id="answerMessage" type="text" class="form-control" placeholder="Enter text here...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
  </div>


  <script>
    //each "conversationList li" has a data-user that is the id of the user with whom the conversation is with
    //on click loads the conversation 
    //the user can respond a message to the conversation

    const conversationList = document.querySelectorAll('#conversationList li');
    conversationList.forEach(function (conversation) {
      conversation.addEventListener('click', function () {
        const answerMessage = document.querySelector('#answerMessage');
        const sender = conversation.getAttribute('data-user');
        const apartment = conversation.getAttribute('data-apartment');
        answerMessage.setAttribute('data-user', sender);
        answerMessage.setAttribute('data-apartment', apartment);

        fetch('/message/conversation', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              sender: sender
            })
          })
          .then(res => res.json())
          .then(data => {
            //console.log(data);
            const chat = document.querySelector('.chat-history ul');
            chat.innerHTML = '';
            data.forEach(function (message) {
              const date = message.date.toString().substr(5, 5) + ' ' + message.date.toString().substr(11,
                5);
              if (message.sender._id == sender) {
                chat.innerHTML += `
            <li class="cleafix">
                <div class="message-data text-end">
                  <span class="message-data-time" >${date} ${message.sender.name}</span>
                </div>
                <div class="message other-message float-right">
                  ${message.messageText}
                </div>
            </li>
          `;
              } else {
                chat.innerHTML += `
            <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time" >${date}</span>
                </div>
                <div class="message my-message">
                  ${message.messageText}
                </div>
            </li>
          `;
              }
            });
          });
      });
    });


    //sends the message to the server
    const sendAnswerMessage = document.querySelector('#sendAnswerMessage');
    sendAnswerMessage.addEventListener('click', function () {
      const answerMessage = document.querySelector('#answerMessage');
      const receiver = answerMessage.getAttribute('data-user');
      const apartment = answerMessage.getAttribute('data-apartment');
      const messageText = answerMessage.value;
      answerMessage.value = '';
      fetch('/message/send', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            receiver,
            messageText,
            apartment
          })
        })
        .then(res => res.json())
        .then(data => {
          //console.log(data);
          const chat = document.querySelector('.chat-history ul');
          const date = data.date.toString().substr(5, 5) + ' ' + data.date.toString().substr(11, 5);
          chat.innerHTML += `
          <li class="clearfix">
              <div class="message-data">
                <span class="message-data-time" >${date}</span>
              </div>
              <div class="message my-message">
                ${data.messageText}
              </div>
          </li>
        `;
        });
    });

    //the messaga can also be sent by pressing enter
    const answerMessage = document.querySelector('#answerMessage');
    answerMessage.addEventListener('keyup', function (e) {
      if (e.keyCode === 13) {
        sendAnswerMessage.click();
      }
    });

    //when the pago loads the first conversation is loaded
    try {
      conversationList[0].click();
    } catch (error) {
      console.log("no conversations");
    }

  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>



</body>



</html>