<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function () {
    $('#myApartments').DataTable();
});
</script>



</head>

<body class="container-fluid">
  <%- include('./partials/nav'); %>

  <div class="row flex-nowrap">
    <%- include('./partials/dashboard-nav'); %>


    <main class="col py-3">
    

      <section class="container">
        <h1>Profile <%=action%></h1>
        <div class="container">
          <div class="row justify-content-center">

            <form id="userUpdasteForm" class="ms-auto mt-4 rounded border border-1 border-light bg-light"
      style="max-width: 640px; padding: 30px 30px 60px 30px; color: #484848;" onsubmit="return setUserUpdateAction(this, event)">

              <!-- User input -->
              <div class="form-outline mb-4">
             

                <input type="text" class="form-control" name="username" minlength="4" maxlength="8" pattern="^[a-zA-Z]\w{3,7}" title="Username should start with a letter and can only contain regular characters, digits and '_'" placeholder="<%=userProfile.username%>"  disabled/>
                <label class="form-label">Username</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">

                <input type="email" class="form-control" name="email" placeholder="<%=userProfile.email%>" disabled/>
                <label class="form-label" for="form1Example1">Email</label>
              </div>



              <!-- Name input -->
              <div class="form-outline mb-4">

                <input type="text" class="form-control" name="name" minlength="2" maxlength="30" pattern="^[a-zA-Z][a-zA-Z\u00C0-\u017F\s]*$" title="Use only letters and spaces" value="<%=userProfile.name%>" <% if (action != "edit"){ %> disabled <% } %> required/>
                <label class="form-label" for="form1Example1">Name</label>
              </div>

              <!-- Lastname input -->
              <div class="form-outline mb-4">

                <input type="text" class="form-control" name="lastname" minlength="2" maxlength="30" pattern="^[a-zA-Z][a-zA-Z\u00C0-\u017F\s]*$" title="Use only letters and spaces" value="<%=userProfile.lastname%>" <% if (action != "edit"){ %> disabled <% } %> required/>
                <label class="form-label" for="form1Example1">Last name</label>
              </div>

              

              <!-- Password input -->
              <div class="form-outline mb-4 <% if (action != 'edit'){ %> d-none <% } %>">
                <input type="password" class="form-control" name="password" aria-label="Password" minlength="4" maxlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{4,12}$" title="Password should have between 4 and 12 characters and contain at least one lowercase, one uppercase and a digit" required/>
                <label class="form-label" for="form1Example2">Password</label>
              </div>

              <div class="form-check<% if (action != 'edit'){ %> d-none <% } %>">
                <div>
                  <input class="form-check-input" type="checkbox" value="user" name="roles" checked
                    style="display:none" />
                </div>


                <div>
                  <input class="form-check-input" type="checkbox" value="admin" name="roles" <% if (userProfile.roles.find(role => role.name == "admin" )){ %>
                    checked <% } %> />
                      <label class="form-check-label" for="form1Example3">
                        Make me admin
                      </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" value="host" name="roles" <% if (userProfile.roles.find(role => role.name == "host" )){ %>
                    checked <% } %>/>
                  <label class="form-check-label" for="form1Example3">
                    Make me host
                  </label>
                </div>
              </div>

              <div id="SignupAlert" class="alert alert-danger d-none" role="alert"></div>
              <!-- Submit button -->
              <div class="modal-footer <% if (action != 'edit'){ %> d-none <% } %>">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>

            </form>

          </div>

        </div>
      </section>
  
    </main>
  </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<script>
  //update user profile
    async function setUserUpdateAction(form, event) {
    event.preventDefault();
    try {
      const display = document.querySelector('#SignupAlert');
      display.innerHTML = '';
      const username = form.querySelector('input[name="username"]').value;
      const name = form.querySelector('input[name="name"]').value;
      const lastname = form.querySelector('input[name="lastname"]').value;
      const email = form.querySelector('input[name="email"]').value;
      const password = form.querySelector('input[name="password"]').value;
      const roles = form.querySelectorAll('input[name="roles"]');

      const rolesArray = [];
      for (const role of roles) {
        if (role.checked) {
          rolesArray.push(role.value);
        }
      }


      const data = {
        username: username,
        name: name,
        lastname: lastname,
        email: email,
        password: password,
        roles: rolesArray
      };

      const url = '/api/auth/<%=userProfile.id%>/userUpdate';
      const method = 'POST';
      const headers = {
        'Content-Type': 'application/json'
      };
      const body = JSON.stringify(data);
      const options = {
        method: method,
        headers: headers,
        body: body
      };
      const res = await fetch(url, options);

      const json = await res.json();
      //console.log(json);
      //console.log(res.status);

      if (res.status === 400 || res.status === 401 || res.status === 404 || res.status === 500) {

        display.classList.remove('d-none');
        display.innerHTML = json.message;
        return;
      }

      if (res.status === 200) {
        display.classList.remove('d-none');
        display.innerHTML = json.message;
        //console.log(display);
      }
      location.assign('/admin/user/<%=user.id%>'); 
      //location.assign('/'); 

    } catch (e) {
      console.log(e.message);
    }
  }

</script>


</body>



</html>