<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function () {
    $('#adminBookings').DataTable();
});
$(document).ready(function () {
    $('#hostBookings').DataTable();
});
$(document).ready(function () {
    $('#guestBookings').DataTable();
});
</script>



</head>

<body class="container-fluid">
  <%- include('./partials/nav'); %>

  <div class="row flex-nowrap">
    <%- include('./partials/dashboard-nav'); %>


    <main class="col py-3">
    
      <section class="container">
        <h1>Bookings</h1>
      </section>
      <section class="container d-none">
        
        <p>-Este es el dashboard del usuario, aquí tendrá la posibilidad de actualizar sus datos y todo lo referente a la
          gestión de los pisos que haya resrvado.</p>
          <p>id: <%= user.id %></p>
        <p> username: <%=user.username%> </p>
        <p> Name: <%=user.name%> </p>
        <p> Last Name: <%=user.lastname%> </p>
        <p> Email: <%=user.email%> </p>
         <% if (user.isAdmin){ %>
          <p>Admin</p>
        <% } %>
        <% if (user.isHost){ %>
          <p>Host</p>
        <% } %>
    
    
      </section>
    
      <section class="container">
        <% if (user.isAdmin){ %>
          <div class="mt-7">
            <h3>Admin Bookings</h3>
            <table id="adminBookings" class="table table-hover text-nowrap table-striped">
              <thead>
                <tr>
            
            
                  <th>Apartment</th>
                  <th>Guets</th>
                  <th>Checkin</th>
                  <th>Checkout</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
            
              <tbody>
                <% bookings.forEach(function(booking){ %>
                  <tr>
            
            
                    <td><%= booking.apartment.title %></td>
                    <td><%= booking.guests %></td>
                    <td><%= booking.checkin.toLocaleDateString() %></td>
                    <td><%= booking.checkout.toLocaleDateString() %></td>
                    <td><%= booking.state %></td>
                    <td>
                      <a href="/bookings/<%= booking.id %>/approve" class="btn btn-success
                        <% if(booking.state == 'approved' ){ %>
                          disabled
                          <% } %>" >Approve</a>
                      <a href="/bookings/<%= booking.id %>/reject" class="btn btn-danger
                        <% if(booking.state == 'rejected' ){ %>
                        disabled
                        <% } %>">Reject</a>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            
            </table>
          </div>


        <% } else { %>
            <% if (guestBookings.length > 0) { %>
                <div class="mt-7 card p-3 bg-light">
                  <h3>My bookings where I'm guest</h3>
                  <table id="guestBookings" class="table table-hover text-nowrap table-striped">
                    <thead>
                      <tr>
                  
                  
                        <th>Apartment</th>
                        <th>Guets</th>
                        <th>Checkin</th>
                        <th>Checkout</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                  
                    <tbody>
                      <% guestBookings.forEach(function(booking){ %>
                        <tr>
                  
                  
                          <td><%= booking.apartment.title %></td>
                          <td><%= booking.guests %></td>
                          <td><%= booking.checkin.toLocaleDateString() %></td>
                          <td><%= booking.checkout.toLocaleDateString() %></td>
                          <td><%= booking.state %></td>
                          <td>
                            <a href="/bookings/<%= booking.id %>/cancel" class="btn btn-danger
                              <% if(booking.state == 'cancelled' ){ %>
                              disabled
                              <% } %>">Cancel</a>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  
                  </table>
                </div>
            <% } %>
            <% if (hostBookings.length > 0) { %>
                <div class="mt-7 card p-3 bg-light">
                  <h3>My bookings where I'm host</h3>
                  <table id="hostBookings" class="table table-hover text-nowrap table-striped">
                    <thead>
                      <tr>
                  
                  
                        <th>Apartment</th>
                        <th>Guets</th>
                        <th>Checkin</th>
                        <th>Checkout</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                  
                    <tbody>
                      <% hostBookings.forEach(function(booking){ %>
                        <tr>
                  
                  
                          <td><%= booking.apartment.title %></td>
                          <td><%= booking.guests %></td>
                          <td><%= booking.checkin.toLocaleDateString() %></td>
                          <td><%= booking.checkout.toLocaleDateString() %></td>
                          <td><%= booking.state %></td>
                          <td>
                            <a href="/bookings/<%= booking.id %>/approve" class="btn btn-success
                              <% if(booking.state == 'approved' ){ %>
                                disabled
                                <% } %>" >Approve</a>
                            <a href="/bookings/<%= booking.id %>/reject" class="btn btn-danger
                              <% if(booking.state == 'rejected' ){ %>
                              disabled
                              <% } %>">Reject</a>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  
                  </table>
                </div>
          <% } %>
        <% } %>

      </section>
     
    
    </main>
  </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


</body>



</html>