<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function () {
    $('#myApartments').DataTable();
});
</script>



</head>

<body class="container-fluid">
  <%- include('./partials/nav'); %>

  <div class="row flex-nowrap">
    <%- include('./partials/dashboard-nav'); %>


    <main class="col py-3">
    
      <section class="container d-none">
        <h1>Apartments</h1>
        <p>-Este es el dashboard del usuario, aquí tendrá la posibilidad de actualizar sus datos y todo lo referente a la
          gestión de los pisos que haya resrvado.</p>
          <p>id: <%= user.id %></p>
        <p> username: <%=user.username%> </p>
        <p> Name: <%=user.name%> </p>
        <p> Last Name: <%=user.lastname%> </p>
        <p> Email: <%=user.email%> </p>
         <% if (user.isAdmin){ %>
          <p>Admin</p>
        <% } %>
        <% if (user.isHost){ %>
          <p>Host</p>
        <% } %>
    
    
      </section>
    
      <!-- Si hay apartamentos los listo en una tabla con un boton que enlace a la edición del apartamento y otro para elimarlo de la bbdd-->
    
      <% if(apartments){ %>
        <section class="container">
          <h1>Apartaments</h1>
        </section>

      <section class="container mt-5">
        
    
                 <!-- creo el modal para eliminar apartamento-->
                 <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete this apartment?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form id="deleteForm" action="" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="userId" value="<%= user.id %>">
                          <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
    
        <div class="mt-5 card bg-light p-3">
          <table id="myApartments" class="table table-hover text-nowrap table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>State</th>
                <th>City</th>
                <th>Edit / Delete</th>
              </tr>
            </thead>
            <tbody>
              <% apartments.forEach(function(apartment){ %>
              <tr>
                <td><a href="/apartment/<%=apartment._id%>"><%=apartment.title%></a></td>
                <td><%=apartment.location.state%></td>
                <td><%=apartment.location.city%></td>
                <td>
                  <a href="/apartment/<%=apartment._id%>/edit" class="btn btn-primary">Edit</a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-targetId="/apartment/<%=apartment._id%>/delete">Delete</button>
                  <!-- <a href="/apartment/<%=apartment._id%>/delete" class="btn btn-danger">Delete</a> -->
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <script>
          var deleteModal = document.getElementById('deleteModal')
          deleteModal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          var button = event.relatedTarget
          // Extract info from data-bs-* attributes
          var target = button.getAttribute('data-bs-targetId')
          // If necessary, you could initiate an AJAX request here
          // and then do the updating in a callback.
          //
          // Update the modal's content.
    
          //cargo en form acction la ruta del delete
          var form = document.getElementById('deleteForm')
          form.action = target
    
    
        })
        </script>
      </section>
      <% } %>
  
    
    </main>
  </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


</body>



</html>